*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sedwick Ave Display", cursive;
}

.sedgwick-ave-display-regular {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}

.body{
    background-color: black;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
h1{
    margin-right: 300px;
}

#logo-generation-rap{
    width: 100px;
    margin: 10px;
    border-radius: 5px;
}

.tarjeta{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid orange;
    margin: 10px;
    border-radius: 10px;
    color: white;
}

img{
    border-radius: 5px;
}

#img-aczino{
    width: 200px;
    margin: 10px;
}

#h3-aczino{
    display: inline;
}

#img-chuty{
    width: 150px;
    margin: 10px;
}

#img-azuky{
    width: 200px;
    margin: 10px;
}

button{
    width: 100px;
    text-align: center;
}

button:hover{
    background-color: orange;
    color: white;
}

footer{
    text-align: center;
    color: white;
}